@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: #003594;
  --secondary: #d2293b;
}

* {
  border: 1px solid var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.dark {
  --background: #0f172a;
  --foreground: #ffffff;
  --border: #334155;
}
/* Remove number input arrows in Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
